@import "colors.scss";

h1, h2, h3, h4, h5, h6 {
  font-family: "Monoton";
}

h1 {
  font-size: 6rem;
  font-weight: lighter;
}

html {
  background: $sky;
  font-family: "Annie Use Your Telescope";
}

.logo {
  font-family: "Monoton";
}

a {
  font-family: "Bangers";
  color: $golden;
  text-decoration: none;
}

// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
// a {
//   color: $golden;
//   font-family: "Bangers";
//   font-weight: lighter;
//   text-decoration: none;
//   font-size: 2rem;
// }
