<nav>
  <section class="nav-bar">
    <ul class="left group">
      <li class="logo">Fabri<span class="splash">cat</span></li>
      <li class="slogan">Meet the cat of your dreams</li>
    </ul>

    <ul class="right group">
      <li><a href="#">Register</a></li>
      <li><a href="#">Sign In</a></li>
    </ul>

  </section>
</nav>
