// Place all the styles related to the Cats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
a {
  color: pink;
}
section {

}

.cat-box {
  width: 30%;
  float: left;
  margin: 10px;
  padding: 10px;
  background: rgb(0, 115, 112);
  border-radius: 10px;
}

img {
  width: 100%;
}
