<% column = 1 %>
<% @cats.each do |cat| %>

  <% if cat.image %>
  <!-- !!! let's refactor so @cats is image-only cats -->
  <!-- (or give picless cats a default profile pic?) -->

    <% if column == 1 %>
      <div class="row group">
    <% end %>

    <div class="<%= @column_class %>">
      <%= cat_box(cat) %>
    </div>

    <% if column == @columns %>
      </div>
      <% column = 1 %>
    <% else %>
      <% column += 1 %>
    <% end %>

  <% end %>
<% end %>
